/*
 Theme Name:     Arkane 2013
 Theme URI:      https://github.com/KHetke/ArkaneTheme
 Description:    Handcrafted Child Theme
 Author:         Kamran Hetke
 Author URI:     
 Template:       handcrafted-wp-theme-master
 Version:        1.0.0
*/

@import url("../handcrafted-wp-theme-master/style.css");

/* Theme customization starts here
----------------------------------------------------- */

body {
	background-color: #080808;
	color: #3e8fff;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.container h1, h2, h3 {
	font-family:"Prosto One";
	color: #945ec7;
}

.container p, ul, ol, li {
	font-family:"Open Sans";
}

.container {
	width:65%;
	margin: 0 auto;
}

.content, .sidebar, .botbar {
	border:1px solid gray;
	border-radius:10px;
	padding:10px;
	margin:10px 0;
}

a {
	color: #ee4c37;
}

a:hover {
	color: #009bd3;
}

a:visited {
	color: #ee4c37;
}

#access {
	background-color: #282828;
}

#access:hover {
	background-color: #080808;
}

.postlink:visited {
	color: #945ec7;
}

::selection {
	color:black;
	background:white;
}
::-moz-selection {
	color:black;
	background:white;
} 
